
.customCard { 
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center; /* Esto aún puede ser útil para centrar texto dentro de la tarjeta */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: transform 0.2s ease;
}

.cardImage { 
    width: 100%;
    height: 180px; 
    object-fit: contain; 
    border-radius: 5px; 
}

.cardTitle { 
    font-size: 0.95rem;
    line-height: 1.2;
    flex-grow: 1; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: bold;
    color: green;
    font-size: 1rem;
    margin-bottom: 0.25rem; 
}

.category {
    font-style: italic;
    color: #555;
    font-size: 0.9rem;
    margin-bottom: 0.5rem; 
}

.rating {
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 0.5rem; 
}

.rating span {
    margin-left: 5px;
}

.customCard:hover { 
    transform: scale(1.02);
}

