.card {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 200px; 
    text-align: center;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: normal;
}

.image-container {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.card img { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.card h6 {
    font-size: 0.95rem;
    line-height: 1.2;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card p {
    font-size: 0.9rem;
}

.card .price {
    font-weight: bold;
    color: green;
    font-size: 1rem;
}

.card .category {
    font-style: italic;
    color: #555;
}

.card:hover {
    transform: scale(1.02);
}

.rating { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating span {
    margin-left: 5px;
}

.card button {
    margin-top: auto;
    width: 100%;
    padding: 8px 10px;
    font-size: 0.9rem;
}